<?xml version="1.0" encoding="UTF-8"?>

<included>
	<property name="PATTERN" value="%d{HH:mm:ss.SSS} [${appName},%X{traceId}] [%thread] %-5level %logger{26}[%L] - %msg%n"/>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	<appender name="mysoft" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logBase}.%d{yyyy-MM-dd}.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<includeCallerData>true</includeCallerData>
		<appender-ref ref="mysoft" />
	</appender>
</included>